[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
flask = {extras = ["async"], version = "*"}
pillow = "*"
pytest = "*"
marshmallow = "*"
flask-marshmallow = "*"
python-dotenv = "*"
pyrebase4 = "*"
flask-restful = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
